.row {
    max-width: $grid-width;//1140px
    background-color: #eee;
    margin: 0 auto;//center block element inside another block element

    &:not(:last-child) {
        //select all rows except last one
        //select all except last child
        margin-bottom: $gutter-vertical;
    }

    @include clearfix;//moves first row much higher so it stops overlapping second row

    [class^="col-"] { //selects all elements which have a class starting with "col-"
        background-color: orangered;
        float: left;

        &:not(:last-child) {
            margin-right: $gutter-horizontal;
        }
    }
//use * to select elements that have a class containing "col-", use $ to select elements that have a class ending with "col-"
    .col-1-of-2 {
        width: calc((100% - #{$gutter-horizontal}) / 2);//calculation occurs when website is rendered using visual formating model
       

    }

    .col-1-of-3 {
        width: calc((100% - 2 * #{$gutter-horizontal}) / 3);
    }

    .col-2-of-3 {
        width: calc(2 * ((100% - 2 * #{$gutter-horizontal}) / 3) + #{$gutter-horizontal});
    }

    .col-1-of-4 {
        width: calc((100% - 3 * #{$gutter-horizontal}) / 4);
    }

    .col-2-of-4 {
        width: calc(2 * ((100% - 3 * #{$gutter-horizontal}) / 4) + #{$gutter-horizontal});
    }

    .col-3-of-4 {
        width: calc(3 * ((100% - 3 * #{$gutter-horizontal}) / 4) + 2 * #{$gutter-horizontal});
    }

}
//width will adject to size of screen
//if we have enough available space,
//then row will have the width that we 
//specified (114rem)
//but if there is not enough width,
//if viewport is smaller than the specified
//width (114rem), then it will fill 100%
//of the available space that it has

